        /* Inicializa Configuración Global de la Página */
        html {
            scroll-behavior: smooth;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'open sans';
        }

        header {
            width: 100%;
        }

        .resaltado {
            font-weight: bold;
        }

        /* --- INICIA ESTILOS PAGINA INDEX ---*/
        /* HEADER - Seccion: Imagen - Efecto Wave */
        .header__index {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #373B44;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, hsla(217, 89%, 61%, 0.6), hsla(222, 11%, 24%, 0.6));
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, hsla(217, 89%, 61%, 0.6), hsla(222, 11%, 24%, 0.6)), url(img/portada.jpg);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background-size: cover;
            background-attachment: fixed;
            position: relative;
        }

        .header__index .wave {
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        .header.header__index .box_card_logo {
            padding: 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            text-align: justify;
            color: #fff;
        }


        .header__index .box_card_logo .card_log {
            width: 40%;
            
        }

        .header__index .box_card_logo .card_text {
            width: 60%;
        }

        .header__index .textos-header {
            display: flex;
            width: 100%;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
            color: #fff;
        }


        .textos-header .titulo {
            font-size: 45px;
            width: 85%;
            -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=112, Color=#000000)";
            /*IE 8*/
            text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.7);
            /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
            filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color=#000000);
            /*IE 5.5-7*/
        }

        .textos-header .box_definicion {
            width: 75%;
            padding-top: 30px;
            padding-bottom: 30px;
            background-color: hsla(0, 1%, 69%, 0.6);
            border-radius: 20px;
        }

        .textos-header .box_definicion h2 {
            font-size: 30px;
            width: 80;
            padding-bottom: 20px;
            font-weight: 300px bold;
        }

        .textos-header .box_definicion p {
            font-size: 16px;
            margin-left: 40px;
            margin-right: 40px;
            font-weight: 200;
            text-align: center;
            color: black
        }