p {
    background-color: yellow;
}

p.regular {
    border: 1px solid red;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 30px;
    padding-top: 50px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 30px;
}

p.resumido {
    border:1px solid red;
    margin: 100px 150px 100px 80px;
    padding: 30px;
}

.padre {
    background-color: #fafafa;
    border: 1px solid #ccc;
    padding: 0 1rem;
    margin: 1rem;
  }
  
  .hijo_uno {
    background-color: yellow;
    
    /* IMPORTANTE */
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .hijo_dos {
    background-color: yellow;
    
    /* IMPORTANTE */
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }