.colores_rgba .p1 {
    background-color: rgba(255, 0, 0, 0.5);
}

.colores_rgba .p2 {
    background-color: rgba(0, 255, 0, 0.7);
}

.colores_rgba .p3 {
    background-color: rgba(0, 0, 255, 0.6);
}

.colores_rgba .p4 {
    background-color: rgba(192, 192, 192, 0.5);
}

.colores_rgba .p5 {
    background-color: rgba(255, 255, 0, 0.4);
}

.colores_rgba .p6 {
    background-color: rgba(255, 0, 255, 0.3);
}


.colores_hsla .p1 {
    background-color: hsla(120, 100%, 50%, 0.3);
}

.colores_hsla .p2 {
    background-color: hsla(120, 100%, 75%, 0.4);
}

.colores_hsla .p3 {
    background-color: hsla(120, 100%, 25%, 0.5);
}

.colores_hsla .p4 {
    background-color: hsla(120, 60%, 70%, 0.6);
}

.colores_hsla .p5 {
    background-color: hsla(290, 100%, 50%, 0.7);
}

.colores_hsla .p6 {
    background-color: hsla(290, 60%, 70%, 0.8);
}